---
---

<header class="fixed top-0 left-0 z-50 w-full h-16 bg-base border-b-2 border-primary text-letter flex items-center justify-between">
	<div class="m-6">
		<a href="#hero" class="sm:text-sm lg:text-2xl font-bold text-primary">HexWolf</a>
	</div>
	<div class="hidden lg:flex m-6 space-x-6">
		<a href="#about">About</a>
		<a href="#portfolio">Portfolio</a>
		<a href="#social">Social</a>
	</div>
</header>
