---
---

<header class="fixed top-0 left-0 z-50 w-full h-16 bg-base text-letter flex items-center justify-between">
	<div class="m-6">
		<a href="#hero" class="sm:text-sm lg:text-2xl font-bold text-primary">HexWolf</a>
	</div>
	<div class="hidden lg:flex m-6 space-x-6">
		<a href="#about">プロフィール</a>
		<a href="#portfolio">作品集</a>
		<a href="#social">連絡先</a>
	</div>
</header>
